/*Авторське право (c) серпень 2025 рік Сікан Іван Валерійович.*/
:root{
  --fon-color: #151419;
  --fon-color-2: #fbfbfb;
  --color-accent: #f56e0f;
  --color-accent-shadow: rgba(245, 110, 15, 0.25);
  --color1: #1b1b1e;
  --color2: #262626;
  --text-color: #878787;
  --text-color-accent: rgba(245, 110, 15, 0.7);
}
body{
  position: relative;
}
.TabletJournal{
  overflow-y: auto;
  flex-grow: 1;
  padding-left: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2.9%;
}
.TabletJournal::-webkit-scrollbar{
  background-color: var(--fon-color);
}
.TabletJournal::-webkit-scrollbar-thumb{
  background-color: var(--text-color);
  border-radius: 25px;
  border: 3px solid var(--fon-color);
}
.TabletJournal::-webkit-scrollbar-thumb:active{
  background-color: var(--color-accent);
}
.contentJournal{
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  width: 95%;
  height: 100%;
  font-family: 'SourceSans3';
  flex-grow: 1;
}
.contentJournal h2{
  margin-bottom: 0;
  padding-left: 3%;
}
.dropdown-button div{
  width: 5vmin;
  background-image: url('../image/down.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#GradeOfJournal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /*width: clamp(300px, 70%, 370px);*/
  gap: 5vmin;
  padding-left: 3%;
  padding-right: 3%;
  position: relative;
}
#customSelect{
  display:flex;
  align-items: center;
  flex-direction: row;
  gap: 5%;
}
#subject-checkbox, #class-checkbox{
  display: none;
}
#button-select-subject, #button-select-class{
  display: flex;
  justify-content: space-between;
}
#button-select-subject .first-option, #button-select-class .first-option{
  margin: 0;
  white-space: nowrap;
  color: var(--text-color);
}
#CustomSelectSubject, #CustomSelectClassTeacher, #lessonTypeInput {
  width: clamp(150px, 30vmin, 300px);
  border: 0.07rem solid transparent;
  border-radius: 1rem /*від шрифта*/;
  box-shadow: 0 0 0.5vmin var(--text-color);
  padding: 0.3vmin 1.5vmin;
  font-family: 'SourceSans3';
  position: relative;
  color: var(--text-color);
  transition: box-shadow 0.65s ease-in-out, border-color 0.65s ease-in-out;
}
#Select-Subject.click-button, #ClassTeacher.click-button, #lessonTypeInput.click-button{
  border-color: var(--color-accent);
  box-shadow: 0 0 0.5vmin var(--color-accent);
}

.dropdown-button div{
  width: 5vmin;
  background-image: url('../image/down.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#subject-list, #class-list /*#lessonTypeList*/{
  width: 100%;
  top: 100%;
  left: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--fon-color-2);
  color: var(--text-color);
  list-style-type: none;
  border-radius: 1rem /*від шрифта*/;
  box-shadow: 0 0 0.5vmin var(--text-color);
  position: absolute;
  overflow-y: auto;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.65s ease-in-out, opacity 0.65s ease-in-out;
  visibility: hidden;
}
#subject-checkbox:checked ~ #subject-list, #class-checkbox:checked ~ #class-list{
  opacity: 1;
  visibility: visible;
  max-height: 11.5rem;
  z-index: 15;
}
.dropdown-list li {
    padding: 1vmin;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-list li:hover {
    color: var(--fon-color-2);
    background-color: var(--color-accent);
}
/* Стилі для кнопки "Додати оцінку" */
.add-grade-container{
  height: 100%;
  opacity: 0;
}
.add-grade-button {
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #556B2F; /* Оливковий колір */
    position: relative;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-grade-button::before {
    content: '+';
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}

.Title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}
.Title p{
  margin: 0;
  padding: 0;
}
/* Стилі для контейнера з формою */
.add-grade-content {
    height: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    right: 0;
    display: flex;
    background-color: #f0f0f0;
    border-radius: 8px;
    position: absolute;
    flex-direction: column;
}

/* Приховуємо стандартний checkbox */
#toggle-add-grade {
    display: none;
}

/* Коли checkbox позначений, показуємо контент і змінюємо кнопку */
#toggle-add-grade:checked ~ .add-grade-container .add-grade-content {
    max-height: 30vh;
    opacity: 1;
    z-index: 20;
    height: 30vh;
    aspect-ratio: 1 / 1;
}

#toggle-add-grade:checked ~ .add-grade-container .add-grade-button::before {
    content: '-';
}

#ClassTeacher{
  display: none;
}

.journal-table {
  border-collapse: collapse;
}
.journal-table thead {
  position: sticky;
  top: 0;
  background-color: var(--fon-color-2);
  z-index: 10;
}
.journal-table th:first-child,
.journal-table td:first-child {
  position: sticky;
  left: 0;
  background-color: var(--fon-color-2);
  z-index: 5;
}
.journal-table th,
.journal-table td {
  border: 1px solid var(--text-color);
  padding: 8px;
  text-align: center;
}

.journal-table thead th:first-child {
  z-index: 13;
}













