/*Авторське право (c) серпень 2025 рік Сікан Іван Валерійович*/
:root{
  --fon-color: #151419;
  --fon-color-2: #fbfbfb;
  --color-accent: #f56e0f;
  --color-accent-shadow: rgba(245, 110, 15, 0.25);
  --color1: #1b1b1e;
  --color2: #262626;
  --text-color: #878787;
}
#ScheduleContent{
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  /*width: 95%;
  height: 100%;*/
  font-family: 'SourceSans3';
  padding-bottom: 5%;
}
#TitleSchedule{
  text-align: center;
}
#CustomSelectSchedule{
  position: relative;
}
#days-checkbox{
  display: none;
}
#button-select-schedule{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(300px, 30vmin, 300px);
  border: 0.07rem solid transparent;
  border-radius: 1rem;
  box-shadow: 0 0 0.5vmin var(--text-color);
  padding: 0.3vmin 1.5vmin;
  font-family: 'SourceSans3';
  color: var(--text-color);
  background-color: var(--fon-color-2);
  cursor: pointer;
  transition: box-shadow 0.65s ease-in-out, border-color 0.65s ease-in-out;
}
#button-select-schedule:hover{
  border-color: var(--color-accent);
  box-shadow: 0 0 0.5vmin var(--color-accent);
}
#first-option{
  margin: 0;
}
#select-arrow{
  width: 5vmin;
  background: url('../image/down.svg') no-repeat center / contain;
  transition: transform 0.3s ease-in-out;
}
#DaysList{
  position: absolute;
  width: 100%;
  margin-top: 5px;
  border-radius: 1rem;
  box-shadow: 0 0 0.5vmin var(--text-color);
  background-color: var(--fon-color-2);
  list-style: none;
  padding: 0;
  margin: 1.5vmin 0 0 0;
  z-index: 100;

  /* Анімація */
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.65s ease-in-out;
}
#days-checkbox:checked ~ #button-select-schedule #select-arrow {
  transform: rotate(180deg);
}
#days-checkbox:checked ~ #button-select-schedule{
  border-color: var(--color-accent);
  box-shadow: 0 0 0.5vmin var(--color-accent);
}
#days-checkbox:checked ~ #DaysList {
  opacity: 1;
  visibility: visible;
}

/* Стилі для кожного елемента списку */
#DaysList li {
    padding: 1vmin 1vmin 1vmin 3.7%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: var(--text-color);
}
#DaysList li:hover {
    background-color: var(--color-accent);
    color: var(--fon-color-2);
}

/*#Days.visible {
  height: (auto, 100vh);
  opacity: 1;
}
.schedule-day {
  padding-left: 0.2rem;
}*/

#wrapper-text-container{
  /*width: 100vmin;*/
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
#wrapper-text-container::-webkit-scrollbar{
  width: 0.5rem;
  background-color: transparent;
}
#wrapper-text-container::-webkit-scrollbar-thumb{
  background-color: var(--fon-color);
  border-radius: 25px;
}
#wrapper-text-container::-webkit-scrollbar-thumb:focus, #wrapper-text-container::-webkit-scrollbar-thumb:active{
  background-color: var(--color-accent);
}
#text-container-schedule{
  position: relative;
  padding-left: 7%;
  width: calc(100% - 7vmin);
  /*padding-right: 3%;*/
  /*width: clamp(300px, 30vmin, 300px);*/
}
#text-container-schedule::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1rem;
  height: 100%;
  width: 0.1rem;
  background-color: var(--text-color);
}
.schedule-entry{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 3%;
  margin: 0.5vmin 0 5% 5%;
  gap: 5%;
  border-radius: 1rem /*від шрифта*/;
  box-shadow: 0 0 0.5vmin var(--text-color);
}
.schedule-entry:first-child{
  margin-top: 0.5vmin;
}
.schedule-entry:last-child{
  margin-bottom: 0.5vmin;
}
.schedule-entry.current{
  background-color: var(--color-accent);
  box-shadow: 0 0 0.5vmin var(--color-accent);
}
.status-icon{
  position: absolute;
  left: 0.41rem;
  width: 1.1rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 0.1rem solid var(--text-color);
  background-color: var(--fon-color-2);
}
.status-icon.current{
  border: 0.1rem solid var(--color-accent);
  background-color: var(--fon-color-2);
}
.schedule-entry.current .time p, .schedule-entry.current .info-block h3, .schedule-entry.current .info-block p, .schedule-entry.current .info-block a{
  color: var(--fon-color-2);
}
.time{
  font-family: 'SourceSans3';
  color: var(--text-color);
}
.time p{
  margin: 0;
  white-space: nowrap;
  font-size: 0.9rem;
}
.info-block{
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
.info-block h3, .info-block p, .info-block a{
  margin: 0;
  white-space: nowrap;
  color: var(--text-color);
}
.info-block h3{
  font-size: 1rem;
  width: 100%;
}
.info-block p{
  font-size: 0.9rem;
}
.info-block a{
  font-size: 0.9rem;
}
@font-face{
  font-family: 'SourceSans3';
  src: url('../fonts/SourceSans3-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}