/*Авторське право (c) серпень 2025 рік Сікан Іван Валерійович*/
:root{
  --fon-color: #151419;
  --fon-color-2: #fbfbfb;
  --color-accent: #f56e0f;
  --color-accent-shadow: rgba(245, 110, 15, 0.25);
  --color1: #1b1b1e;
  --color2: #262626;
  --text-color: #878787;
  --color-passed: #447542;
}
#ScheduleContent{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  /*width: 95%;
  height: 100%;*/
  font-family: 'SourceSans3';
}
#TitleSchedule{
  text-align: center;
}
#CustomSelectSchedule{
  position: relative;
}
#days-checkbox{
  display: none;
}
#button-select-schedule{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(300px, 30vmin, 300px);
  border: 0.07rem solid transparent;
  border-radius: 1rem;
  box-shadow: 0 0 0.5vmin var(--text-color);
  padding: 0.3vmin 1.5vmin;
  font-family: 'SourceSans3';
  color: var(--text-color);
  background-color: var(--fon-color-2);
  cursor: pointer;
  transition: box-shadow 0.65s ease-in-out, border-color 0.65s ease-in-out;
}
#button-select-schedule:hover{
  border-color: var(--color-accent);
  box-shadow: 0 0 0.5vmin var(--color-accent);
}
#first-option{
  margin: 0;
}
#select-arrow{
  position: relative;
  width: 1.4rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: none;
}
#select-arrow::after{
  content: '+';
  position: absolute;
  font-size: 1.3rem;
  transition: content 0.65s ease-in-out;
}
#DaysList{
  position: absolute;
  width: 100%;
  margin-top: 5px;
  border-radius: 1rem;
  box-shadow: 0 0 0.5vmin var(--text-color);
  background-color: var(--fon-color-2);
  list-style: none;
  padding: 0;
  margin: 1.5vmin 0 0 0;
  z-index: 100;

  /* Анімація */
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.65s ease-in-out;
}
#days-checkbox:checked ~ #button-select-schedule #select-arrow::after {
  content: '-';
  padding-bottom: 5%;
}
#days-checkbox:checked ~ #button-select-schedule{
  border-color: var(--color-accent);
  box-shadow: 0 0 0.5vmin var(--color-accent);
}
#days-checkbox:checked ~ #DaysList {
  opacity: 1;
  visibility: visible;
}

/* Стилі для кожного елемента списку */
#DaysList li {
    padding: 1vmin 1vmin 1vmin 3.7%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: var(--text-color);
}
#DaysList li:hover {
    background-color: var(--color-accent);
    color: var(--fon-color-2);
}

#wrapper-text-container{
  /*flex-grow: 1;
  margin-bottom: 5%;*/
  /*height: calc((2rem + 1.7vmin + 0.5vmin) * 6);
  /*width: 100vmin;*/
  margin-bottom: calc(2rem + 2.1vh - 3vmin);
  overflow-y: auto;
}
#wrapper-text-container::-webkit-scrollbar{
  width: 0.5rem;
  background-color: transparent;
}
#wrapper-text-container::-webkit-scrollbar-thumb{
  background-color: var(--fon-color);
  border-radius: 25px;
}
#wrapper-text-container::-webkit-scrollbar-thumb:focus, #wrapper-text-container::-webkit-scrollbar-thumb:active{
  background-color: var(--color-accent);
}
#text-container-schedule{
  position: relative;
  padding-left: 7%;
  /*width: calc(100% - 7vmin);*/
  padding-right: 3%;
  /*width: clamp(300px, 30vmin, 300px);*/
}
#text-container-schedule::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1rem;
  height: 100%;
  width: 0.1rem;
  background-color: var(--text-color);
}
.schedule-entry{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 3%;
  margin: 0.5vmin 0 2.1vh 5%;
  gap: 5%;
  border-radius: 1rem /*від шрифта*/;
  box-shadow: 0 0 0.5vmin var(--text-color);
}
.schedule-entry:first-child{
  margin-top: 0.5vmin;
}
.schedule-entry:last-child{
  margin-bottom: 0.5vmin;
}
.schedule-entry.current{
  background-color: var(--color-accent);
  box-shadow: 0 0 0.5vmin var(--color-accent);
}
.schedule-entry.passed, .schedule-entry.break{
  box-shadow: 0 0 0.5vmin var(--color-passed);
  border: 0.07rem solid var(--color-passed);
}
.status-icon{
  position: absolute;
  left: 0.43rem;
  width: 1.1rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 0.1rem solid var(--text-color);
  background-color: var(--fon-color-2);
}
.status-icon.current{
  width: calc(1.1rem + 0.2rem);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg id='Icons' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20C4.477 20 0 15.523 0 10C0 4.477 4.477 0 10 0ZM10 2C7.87827 2 5.84344 2.84285 4.34315 4.34315C2.84285 5.84344 2 7.87827 2 10C2 12.1217 2.84285 14.1566 4.34315 15.6569C5.84344 17.1571 7.87827 18 10 18C12.1217 18 14.1566 17.1571 15.6569 15.6569C17.1571 14.1566 18 12.1217 18 10C18 7.87827 17.1571 5.84344 15.6569 4.34315C14.1566 2.84285 12.1217 2 10 2ZM10 4C10.2449 4.00003 10.4813 4.08996 10.6644 4.25272C10.8474 4.41547 10.9643 4.63975 10.993 4.883L11 5V9.586L13.707 12.293C13.8863 12.473 13.9905 12.7144 13.9982 12.9684C14.006 13.2223 13.9168 13.4697 13.7488 13.6603C13.5807 13.8508 13.3464 13.9703 13.0935 13.9944C12.8406 14.0185 12.588 13.9454 12.387 13.79L12.293 13.707L9.293 10.707C9.13758 10.5514 9.03776 10.349 9.009 10.131L9 10V5C9 4.73478 9.10536 4.48043 9.29289 4.29289C9.48043 4.10536 9.73478 4 10 4Z' fill='%23f56e0f'/%3E%3C/svg%3E");
  border: 0;
}
.status-icon.passed{
  width: calc(1.1rem + 0.2rem);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg id='Icons' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.6 11.8L6.45 9.65C6.26667 9.46667 6.03333 9.375 5.75 9.375C5.46667 9.375 5.23333 9.46667 5.05 9.65C4.86667 9.83333 4.775 10.0667 4.775 10.35C4.775 10.6333 4.86667 10.8667 5.05 11.05L7.9 13.9C8.1 14.1 8.33333 14.2 8.6 14.2C8.86667 14.2 9.1 14.1 9.3 13.9L14.95 8.25C15.1333 8.06667 15.225 7.83333 15.225 7.55C15.225 7.26667 15.1333 7.03333 14.95 6.85C14.7667 6.66667 14.5333 6.575 14.25 6.575C13.9667 6.575 13.7333 6.66667 13.55 6.85L8.6 11.8ZM10 20C8.61667 20 7.31667 19.7373 6.1 19.212C4.88333 18.6867 3.825 17.9743 2.925 17.075C2.025 16.1757 1.31267 15.1173 0.788 13.9C0.263333 12.6827 0.000666502 11.3827 -1.64689e-07 10C-0.000666831 8.61733 0.262 7.31733 0.788 6.1C1.314 4.88267 2.02633 3.82433 2.925 2.925C3.82367 2.02567 4.882 1.31333 6.1 0.788C7.318 0.262667 8.618 0 10 0C11.382 0 12.682 0.262667 13.9 0.788C15.118 1.31333 16.1763 2.02567 17.075 2.925C17.9737 3.82433 18.6863 4.88267 19.213 6.1C19.7397 7.31733 20.002 8.61733 20 10C19.998 11.3827 19.7353 12.6827 19.212 13.9C18.6887 15.1173 17.9763 16.1757 17.075 17.075C16.1737 17.9743 15.1153 18.687 13.9 19.213C12.6847 19.739 11.3847 20.0013 10 20ZM10 18C12.2333 18 14.125 17.225 15.675 15.675C17.225 14.125 18 12.2333 18 10C18 7.76667 17.225 5.875 15.675 4.325C14.125 2.775 12.2333 2 10 2C7.76667 2 5.875 2.775 4.325 4.325C2.775 5.875 2 7.76667 2 10C2 12.2333 2.775 14.125 4.325 15.675C5.875 17.225 7.76667 18 10 18Z' fill='%23447542'/%3E%3C/svg%3E");
  border: 0;
}
.schedule-entry.current .time p, .schedule-entry.current .info-block h3, .schedule-entry.current .info-block p, .schedule-entry.current .info-block a{
  color: var(--fon-color-2);
}
.schedule-entry.passed .time p, .schedule-entry.passed .info-block h3, .schedule-entry.passed .info-block p, .schedule-entry.passed .info-block a{
  color: var(--color-passed);
}
.time{
  font-family: 'SourceSans3';
  color: var(--text-color);
}
.time p{
  margin: 0;
  white-space: nowrap;
  font-size: 0.9rem;
}
.info-block{
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
.info-block h3, .info-block p, .info-block a{
  margin: 0;
  white-space: nowrap;
  color: var(--text-color);
}
.info-block h3{
  font-size: 1rem;
  width: 100%;
}
.info-block p{
  font-size: 0.9rem;
}
.info-block a{
  font-size: 0.9rem;
}
@font-face{
  font-family: 'SourceSans3';
  src: url('../fonts/SourceSans3-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}



