/*Авторське право (c) серпень 2025 рік Сікан Іван Валерійович*/
:root{
  --fon-color: #151419;
  --fon-color-2: #fbfbfb;
  --color-accent: #f56e0f;
  --color-accent-shadow: rgba(245, 110, 15, 0.25);
  --color1: #1b1b1e;
  --color2: #262626;
  --text-color: #878787;
  --color-passed: #447542;
}
#ScheduleContent{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  /*width: 95%;
  height: 100%;*/
  font-family: 'SourceSans3';
}
#TitleSchedule{
  text-align: center;
}
#CustomSelectSchedule{
  position: relative;
}
#days-checkbox{
  display: none;
}
#button-select-schedule{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(300px, 30vmin, 300px);
  border: 0.07rem solid transparent;
  border-radius: 1rem;
  box-shadow: 0 0 0.5vmin var(--text-color);
  padding: 0.3vmin 1.5vmin;
  font-family: 'SourceSans3';
  color: var(--text-color);
  background-color: var(--fon-color-2);
  cursor: pointer;
  transition: box-shadow 0.65s ease-in-out, border-color 0.65s ease-in-out;
}
#button-select-schedule:hover{
  border-color: var(--color-accent);
  box-shadow: 0 0 0.5vmin var(--color-accent);
}
#first-option{
  margin: 0;
}
#select-arrow{
  width: 5vmin;
  background: url('../image/down.svg') no-repeat center / contain;
  transition: transform 0.3s ease-in-out;
}
#DaysList{
  position: absolute;
  width: 100%;
  margin-top: 5px;
  border-radius: 1rem;
  box-shadow: 0 0 0.5vmin var(--text-color);
  background-color: var(--fon-color-2);
  list-style: none;
  padding: 0;
  margin: 1.5vmin 0 0 0;
  z-index: 100;

  /* Анімація */
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.65s ease-in-out;
}
#days-checkbox:checked ~ #button-select-schedule #select-arrow {
  transform: rotate(180deg);
}
#days-checkbox:checked ~ #button-select-schedule{
  border-color: var(--color-accent);
  box-shadow: 0 0 0.5vmin var(--color-accent);
}
#days-checkbox:checked ~ #DaysList {
  opacity: 1;
  visibility: visible;
}

/* Стилі для кожного елемента списку */
#DaysList li {
    padding: 1vmin 1vmin 1vmin 3.7%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: var(--text-color);
}
#DaysList li:hover {
    background-color: var(--color-accent);
    color: var(--fon-color-2);
}

#wrapper-text-container{
  /*flex-grow: 1;
  margin-bottom: 5%;*/
  /*height: calc((2rem + 1.7vmin + 0.5vmin) * 6);
  /*width: 100vmin;*/
  margin-bottom: calc(2rem + 2.1vh - 2vmin);
  overflow-y: auto;
}
#wrapper-text-container::-webkit-scrollbar{
  width: 0.5rem;
  background-color: transparent;
}
#wrapper-text-container::-webkit-scrollbar-thumb{
  background-color: var(--fon-color);
  border-radius: 25px;
}
#wrapper-text-container::-webkit-scrollbar-thumb:focus, #wrapper-text-container::-webkit-scrollbar-thumb:active{
  background-color: var(--color-accent);
}
#text-container-schedule{
  position: relative;
  padding-left: 7%;
  /*width: calc(100% - 7vmin);*/
  padding-right: 3%;
  /*width: clamp(300px, 30vmin, 300px);*/
}
#text-container-schedule::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1rem;
  height: 100%;
  width: 0.1rem;
  background-color: var(--text-color);
}
.schedule-entry{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 3%;
  margin: 0.5vmin 0 2.1vh 5%;
  gap: 5%;
  border-radius: 1rem /*від шрифта*/;
  box-shadow: 0 0 0.5vmin var(--text-color);
}
.schedule-entry:first-child{
  margin-top: 0.5vmin;
}
.schedule-entry:last-child{
  margin-bottom: 0.5vmin;
}
.schedule-entry.current{
  background-color: var(--color-accent);
  box-shadow: 0 0 0.5vmin var(--color-accent);
}
.schedule-entry.passed, .schedule-entry.break{
  box-shadow: 0 0 0.5vmin var(--color-passed);
  border: 0.07rem solid var(--color-passed);
}
.status-icon{
  position: absolute;
  left: 0.43rem;
  width: 1.1rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 0.1rem solid var(--text-color);
  background-color: var(--fon-color-2);
}
.status-icon.current{
  width: calc(1.1rem + 0.2rem);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg id='Icons' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.0045 0C4.49332 0 0 4.48696 0 9.99727C0 15.5076 4.49423 20 10.0045 20C15.5149 20 20 15.5076 20 9.99727C20 4.48696 15.5149 0 10.0045 0ZM10.0045 1.81769C11.0791 1.81589 12.1435 2.02625 13.1366 2.4367C14.1297 2.84715 15.032 3.44961 15.7917 4.20954C16.5515 4.96946 17.1538 5.8719 17.564 6.86509C17.9742 7.85829 18.1843 8.9227 18.1823 9.99727C18.1845 11.0721 17.9745 12.1369 17.5643 13.1304C17.1542 14.124 16.5521 15.0268 15.7923 15.7872C15.0326 16.5476 14.1303 17.1506 13.1371 17.5616C12.1439 17.9726 11.0794 18.1835 10.0045 18.1823C8.92921 18.1836 7.86418 17.9728 6.87043 17.562C5.87668 17.1511 4.97373 16.5483 4.21327 15.788C3.45281 15.0277 2.84979 14.1249 2.43872 13.1312C2.02765 12.1376 1.81661 11.0726 1.81769 9.99727C1.81769 5.46942 5.47669 1.81769 10.0045 1.81769ZM9.99 3.62265C9.86987 3.62383 9.75117 3.64881 9.64076 3.69615C9.53034 3.74349 9.43041 3.81225 9.34674 3.89846C9.26307 3.98467 9.19732 4.08661 9.15329 4.19838C9.10927 4.31016 9.08784 4.42956 9.09025 4.54967V9.99727C9.09075 10.1169 9.11485 10.2352 9.16117 10.3455C9.20749 10.4557 9.27512 10.5557 9.36017 10.6398L12.9955 14.277C13.0796 14.3635 13.1801 14.4325 13.2911 14.4798C13.4021 14.5271 13.5214 14.5518 13.6421 14.5525C13.7628 14.5532 13.8824 14.5298 13.9939 14.4838C14.1055 14.4378 14.2067 14.37 14.2918 14.2845C14.3769 14.1989 14.4441 14.0973 14.4894 13.9854C14.5348 13.8736 14.5575 13.7539 14.5561 13.6333C14.5547 13.5126 14.5294 13.3934 14.4814 13.2827C14.4335 13.172 14.364 13.0719 14.277 12.9883L10.9098 9.62101V4.54967C10.9122 4.42787 10.8901 4.30683 10.8449 4.19373C10.7996 4.08063 10.7321 3.97779 10.6463 3.89131C10.5605 3.80483 10.4582 3.73648 10.3454 3.69033C10.2327 3.64418 10.1118 3.62116 9.99 3.62265Z' fill='black'/%3E%3C/svg%3E");
  border: 0;
}
.status-icon.passed{
  width: calc(1.1rem + 0.2rem);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg id='Icons' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18ZM13.88 6.29L8 12.17L6.12 10.29C5.73 9.9 5.1 9.9 4.71 10.29C4.32 10.68 4.32 11.31 4.71 11.7L7.3 14.29C7.69 14.68 8.32 14.68 8.71 14.29L15.3 7.7C15.69 7.31 15.69 6.68 15.3 6.29C14.91 5.9 14.27 5.9 13.88 6.29Z' fill='black'/%3E%3C/svg%3E");
  border: 0;
}
.schedule-entry.current .time p, .schedule-entry.current .info-block h3, .schedule-entry.current .info-block p, .schedule-entry.current .info-block a{
  color: var(--fon-color-2);
}
.schedule-entry.passed .time p, .schedule-entry.passed .info-block h3, .schedule-entry.passed .info-block p, .schedule-entry.passed .info-block a{
  color: var(--color-passed);
}
.time{
  font-family: 'SourceSans3';
  color: var(--text-color);
}
.time p{
  margin: 0;
  white-space: nowrap;
  font-size: 0.9rem;
}
.info-block{
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
.info-block h3, .info-block p, .info-block a{
  margin: 0;
  white-space: nowrap;
  color: var(--text-color);
}
.info-block h3{
  font-size: 1rem;
  width: 100%;
}
.info-block p{
  font-size: 0.9rem;
}
.info-block a{
  font-size: 0.9rem;
}
@font-face{
  font-family: 'SourceSans3';
  src: url('../fonts/SourceSans3-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}



