/*Авторське право (c) серпень 2025 рік Сікан Іван Валерійович.*/
:root{
  --fon-color: #151419;
  --fon-color-2: #fbfbfb; 
  --color-accent: #f56e0f;
}
body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.toggle-checkbox {
  display: none;
}
#Body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#Menu {
  width: 100%;
  height: 100%;
  background-color: var(--fon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: width 0.5s ease-in-out;
}
#button-container {
  width: 25%;
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 21%;
  transition: all 0.5s ease-in-out;
  -webkit-animation: fadeOldUp 1.7s ease-in-out forwards;
  animation: fadeUp 1.7s ease-in-out forwards; 
}
.button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}
#button-schedule {
  background-image: url('../image/schedule.svg');
}
#button-journal {
  background-image: url('../image/journale.svg');
}
.button:hover {
  transform: scale(1.07);
}
#copyright{
  width: auto;
  bottom: 0;
  position: fixed;
  cursor: default;
  font-size: clamp(5px, 1.3vh, 13px);
  color: var(--text-color);
  -webkit-animation: fadeOldUp 1.7s ease-in-out forwards;
  animation: fadeUp 1.7s ease-in-out forwards;
}
#MainContent {
  width: 0%;
  height: 100%;
  position: relative;
  opacity: 0;
  overflow: hidden;
  background-color: var(--fon-color-2);
}
.Content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: transform 0.5s ease-in-out;
}
#Schedule {
  transform: translateX(0);
}

#Journal {
  transform: translateX(100%);
}
.toggle-checkbox:checked ~ #Body #Menu {
  width: 30%;
}
.toggle-checkbox:checked ~ #Body #MainContent {
  width: 70%;
  opacity: 1;
}
.toggle-checkbox:checked ~ #Body #Menu #button-container {
  height: 35%;
  flex-direction: column;
  gap: 15%;
}
#toggle-schedule:checked ~ #Body #Schedule {
  transform: translateX(0);
}

#toggle-schedule:checked ~ #Body #Journal {
  transform: translateX(100%);
}

#toggle-journal:checked ~ #Body #Schedule {
  transform: translateX(-100%);
}

#toggle-journal:checked ~ #Body #Journal {
  transform: translateX(0);
}
/* Медіа-запити для портретної орієнтації*/
@media (orientation: portrait) {
  #Body {
    flex-direction: column-reverse;
  }  
  #Menu {
    transition: height 0.5s ease-in-out;
  }
  #button-container{
    width: 27%;
    height: 35%;
    flex-direction: column;
  }
  #MainContent{
    height: 0;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;;
  }
  .toggle-checkbox:checked ~ #Body #Menu {
    width: 100%;
    height: 30%;
  }
  .toggle-checkbox:checked ~ #Body #MainContent {
    width: 100%;
    height: 70%;
    opacity: 1;
  }
  .toggle-checkbox:checked ~ #Body #Menu #button-container {
    height: 35%;
    width: 55%;
    align-content: center;
    flex-direction: row;
    gap: 15%;
  }
}
@keyframes fadeUp {
  0% { opacity: 0; }
  100% { opacity: 1; }
}