/*Авторське право (c) серпень 2025 рік Сікан Іван Валерійович.*/
:root{
  --fon-color: #151419;
  --fon-color-2: #fbfbfb; 
  --color-accent: #f56e0f;
}
body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  /*background-color: var(--fon-color);*/
}
.toggle-checkbox {
  display: none;
}
.Body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0;
  transition: grid-template-columns 0.5s ease-in-out;
}
.Menu {
  /*width: 100%;*/
  /*height: 100%;*/
  background-color: var(--fon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex-shrink: 0;*/
  /*position:relative;*/
  /*transition: width 0.5s ease-in-out;*/
}
.button-container {
  width: 25%;
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 21%;
  transition: all 0.5s ease-in-out;
  -webkit-animation: fadeOldUp 1.7s ease-in-out forwards;
  animation: fadeUp 1.7s ease-in-out forwards; 
}
.button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}
#button-schedule {
  background-image: url('../image/schedule.svg');
}
#button-journal {
  background-image: url('../image/journale.svg');
}
.button:hover {
  transform: scale(1.07);
}
#copyright{
  width: auto;
  /*bottom: 0;
  cursor: default;
  position: fixed;*/
  font-size: clamp(5px, 1.3vh, 13px);
  color: var(--text-color);
  -webkit-animation: fadeOldUp 1.7s ease-in-out forwards;
  animation: fadeUp 1.7s ease-in-out forwards;
}
.MainContent{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--fon-color-2);
}
.Schedule, .Journal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.Schedule{
  transform: translateX(0);
}
.Journal{
  transform: translateX(100%);
}
#toggle-schedule:checked ~ .Body, #toggle-journal:checked ~ .Body {
  grid-template-columns: 35% 65%;
}
#toggle-schedule:checked ~ .Body .Menu .button-container, #toggle-journal:checked ~ .Body .Menu .button-container{
  flex-direction: column;
}
#toggle-schedule:checked ~ .Body .Schedule{
  transform: translateX(0);
}
#toggle-schedule:checked ~ .Body .Jornal{
  transform: translateX(100%);
}
#toggle-journal:checked ~ .Body .Schedule{
  transform: translateX(-100%);
}
#toggle-journal:checked ~ .Body .Jornal{
  transform: translateX(0);
}
/* Медіа-запити для портретної орієнтації*/
@media (orientation: portrait) {
  .Body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0;
    transition: grid-template-rows 0.5s ease-in-out;
  }  
  .Menu {
    /*order: 2;*/
  }
  .button-container{
    width: 27%;
    height: 35%;
    flex-direction: column;
  }
  .MainContent{
    /*order: 1;*/
  }
  #toggle-schedule:checked ~ .Body, #toggle-journal:checked ~ .Body{
    grid-template-columns: 1fr;
    grid-template-rows: 35% 65%;
  }
  #toggle-schedule:checked ~ .Body .Menu .button-container, #toggle-journal:checked ~ .Body .Menu .button-container{
    flex-direction: row;
  }
}
@keyframes fadeUp {
  0% { opacity: 0; }
  100% { opacity: 1; }
}





