:root{
  --fon-color: #151419;
  --fon-color-2: #fbfbfb;
  --color-accent: #f56e0f;
  --color1: #1b1b1e;
  --color2: #262626;
  --text-color: #878787;
}
.TabletJournal{
  overflow-y: scroll;
  height: 40%;
}
.TabletJournal::-webkit-scrollbar{
  background-color: var(--fon-color);
}
.TabletJournal::-webkit-scrollbar-thumb{
  background-color: var(--text-color);
  border-radius: 25px;
  border: 3px solid var(--fon-color);
}
.TabletJournal::-webkit-scrollbar-thumb:active{
  background-color: var(--color-accent);
}
.contentJournal{
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  width: 95%;
  height: 100%;
  padding-left: 3%;
  font-family: 'SourceSans3';
  overflow: hidden;
}
.contentJournal h3{
  margin-bottom: 0;
}
.dropdown-button div{
  width: 5vmin;
  background-image: url('image/down.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#button-ClassOFJournal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
#subjectTeacher, classOfjournal{
  width: clamp(300px, 30vmin, 300px);
  border: 0;
  border-radius: 15vmin /*від шрифта*/;
  box-shadow: 0 0 0.5vmin var(--color1);
  padding: 0.3vmin;
  padding-left: 0.9vmin;
  font-family: 'SourceSans3';
  position: relative;
}
#subjectTeacher{
  display: none;
}
#Subject{
  display: none;
}
#subjectClass{
  display: none;
}
#lessonTypeList{
  display: none;
}