/*Авторське право (c) травень 2026 рік Сікан Іван Валерійович.*/
:root {
  --fon-color: #151419;
  --fon-color-2: #fbfbfb;
  --color-accent: #f56e0f;
  --color-accent-shadow: rgba(245, 110, 15, 0.25);
  --color1: #1b1b1e;
  --color2: #262626;
  --text-color: #878787;
  --text-color-shadow: rgba(135, 135, 135, 0.5);
  --text-color-accent: rgba(245, 110, 15, 0.7);
  --color-passed: #447542;
}

#SelectNav {
    width: calc(100% - 1rem);
    height: 11%;
    margin-left: 1rem;
    /* background-color: var(--fon-color-2); */
    box-shadow: 0 0 1.5vmin var(--color1);
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.select-nav {
    height: 50%;
    margin: 0 3% 0 0;
    position: relative;
}

.select-nav label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 0.07rem - 0.3vmin);
    border: 0.07rem solid transparent;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5vmin transparent;
    padding: 0.3vmin 1.5vmin;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
#Subject label {
    width: clamp(130px, 27vmin, 300px);
}
#Class label {
    width: clamp(80px, 20vmin, 280px);
}
.select-nav .select-on {
    color: var(--color2);
    background-color: var(--text-color);
}

.select-nav .select-off {
    position: absolute;
    visibility: hidden;
    top: 0;
    color: transparent;
}

.content-select-nav {
    position: absolute;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5vmin var(--color1);
    background-color: var(--text-color);
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.6s;
}


/*зміна при взаємодії з інпут*/
#reset:checked ~ #SelectNav #Subject .content-select-nav {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.6s;
}
#off-class-on:checked ~ #Class {
    display: none;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
#off-subject-on:checked ~ #Subject {
    display: none;
    visibility: hidden;
    overflow: hidden;
    transform: all 0.5s ease-in-out;
}
#subject:checked ~ #Subject .content-select-nav {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0s;
}
#subject:checked ~ #Subject .select-off {
    visibility: visible;
}



#table {
    /*background-color: var(--fon-color-2);*/
    width: 100%;
    height: calc(100% - 11%);
}

@media (orientation: portrait) {

}

@font-face{
    font-family: 'Aristotelica';
    src: url('./fonts/AristotelicaSmallCaps-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'SourceSans3';
    src: url('./fonts/SourceSans3-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}