:root{
  --fon-color: #151419;
  --fon-color-2: #fbfbfb;
  --color-accent: #f56e0f;
  --color1: #1b1b1e;
  --color2: #262626;
  --text-color: #878787;
}
#subjectTeacher{
  display: none;
}
#Subject{
  display: none;
}