/*Авторське право (c) травень 2026 рік Сікан Іван Валерійович.*/
:root {
  --fon-color: #151419;
  --fon-color-2: #fbfbfb;
  --color-accent: #f56e0f;
  --color-accent-shadow: rgba(245, 110, 15, 0.25);
  --color1: #1b1b1e;
  --color2: #262626;
  --text-color: #878787;
  --text-color-shadow: rgba(135, 135, 135, 0.5);
  --text-color-accent: rgba(245, 110, 15, 0.7);
}
body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    background-color: var(--fon-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    user-select: none;
    font-family: 'SourceSans3';
}

.input {
    display: none;
}

#Journal {
    position: relative;
    width: 95%;
    height: 95%;
    border-radius: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    /*box-shadow: inset 0 0 1.7vmin var(--color1);*/
    background-color: var(--color2);
    display: flex;
    align-items: center;
}

/*Стилі чекбокс для часу уроків*/
/*Для псевдокнопки */
#time-button {
    position: absolute;
    width: 2rem;
    height: 11%;
    left: 0;
    top: 0;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 0 1rem 1rem 0;
    background: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 1vmin var(--color1);
    transition: all 0.5s ease-in-out;
}
#time-button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: -50%;
    right: 0;
}

#time-icon {
    position: relative;
    width: 100%;
    height: 90%;
    background-color: transparent;
    background-image: url(./image/time2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in-out;
}

#time-icon::after {
    content: "";
    position: absolute;
    width: 100%; 
    height: 100%;
    background-image: url(./image/time.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color1);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

/*Контейнером змісту*/
#content-timetable {
    position: absolute;
    left: 0;
    z-index: 30;
    width: 0;
    height: 100.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    box-shadow: 0 0 1.5vmin var(--color1);
    transition: width 0.5s ease-in-out;
}
#contentTime {
    height: 80%;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transition-delay: 0.5s;
}

/*ефекти наведення*/
#time-icon:hover{
    transform: scale(1.05);
}
#time-button:hover #time-icon::after {
    opacity: 1;
}

/*зміна при взаємодії з інпут*/
#timeTable:checked ~ #Journal #content-timetable {
    width: 35%;
}

#timeTable:checked ~ #Journal #time-button {
    left: 34.5%;
}

#timeTable:checked ~ #Journal #content-timetable #contentTime {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: visibility 0.1s ease-in-out, opacity 0.1s ease-in-out;
    transition-delay: 0s;
}

@font-face{
    font-family: 'Aristotelica';
    src: url('./fonts/AristotelicaSmallCaps-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'SourceSans3';
    src: url('./fonts/SourceSans3-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
