/*Авторське право (c) серпень 2025 рік Сікан Іван Валерійович.*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  height: 100dvh;
  background-color: #151419;
  color: #f56e0f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  font-size: clamp(25px, 7vh, 100px);
}

.loginForm, #newPasswordFields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vmin;
}
#newPasswordFields{
  width: 100%;
}

.hidden{
  display: none !important;
}

.loginForm {
  width: 30vmin;
  /*width: clamp(197px, 17%, 500px);*/
  /*padding: 20px;  Додаємо внутрішній відступ */
  box-sizing: border-box;
}

.loginForm input {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: 0.25vmin solid #878787;
  border-radius: 25vmin;
  color: #878787;
  padding: 1.5vmin 5%;
  font-size: clamp(16px, 2.35vh, 40px);
  transition: all 0.3s ease-in-out;
  outline: none;
}

.loginForm input:hover,
.loginForm input:focus{
  border: 0.25vmin solid #f56e0f;
  color: #f56e0f;
}

.loginForm input:not(:placeholder-shown):not(:focus){
  border-color: #878787;
  color: #878787;
}

.loginForm button{
  width: 100%;
  box-sizing: border-box;
  border-radius: 25vmin;
  background-color: #878787;
  color: #151419;
  border: 0;
  transition: all 0.3s ease-in-out;
  font-size: clamp(16px, 2.35vh, 40px);
  padding: 1.5vmin 5%;
}

.loginForm button:hover,
.loginForm button:focus,
.loginForm button:active {
  transform: scale(1.03);
  background-color: #f56e0f;
  font-size: clamp(20px, 2.6vh, 40px);
}
/*Error*/
.errorMessage{
  color: #f5332c;
  font-size: clamp(8px, 1.5vh, 15px);
}
/*Загрузка*/
.dots{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px; /* задає проміжки між кругами*/
  height: 16px;
  vertical-align: middle;
}
.dot{
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #151419;
  opacity: 0.2;
  animation: blink 1.4s infinite;
}
.dot:nth-child(2){
  animation-delay: 0.2s;
}
.dot:nth-child(3){
  animation-delay: 0.4s;
}
@media (orientation: portrait){
  .loginForm {
    width: 50vmin;
  }
}
@keyframes blink{
  0%, 80%, 100%{
    opacity: 0.2;
  }
  40%{
    opacity: 1;
  }
}