/*Авторське право (c) серпень 2025 рік Сікан Іван Валерійович.*/
:root{
  --fon-color: #151419;
  --color-accent: #f56e0f;
  --color-accent-shadow: rgba(245, 110, 15, 0.7);
  --color1: #1b1b1e;
  --color2: #262626;
  --text-color: #878787;
}
/*Roboto*/
body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  background-color: var(--fon-color);
  color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-family: 'Aristotelica';
  font-weight: 400;
  font-size: clamp(25px, 7vh, 100px);
  cursor: default;
  -webkit-animation: fadeOldUp 1.7s ease-in-out forwards;
  animation: fadeUp 1.7s ease-in-out forwards; 
}

.loginForm, #newPasswordFields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vmin;
}

.loginForm {
  width: 30vmin;
  /*padding: 20px;  внутрішній відступ */
  box-sizing: border-box;
  -webkit-animation: fadeOldUp 1.7s ease-in-out forwards;
  animation: fadeUp 1.7s ease-in-out forwards;
}

#newPasswordFields{
  width: 100%;
}

.hidden{
  display: none !important;
}

.loginForm input, 
.loginForm button{
  width: 100%;
  box-sizing: border-box;
  border-radius: 25vmin;
  font-size: clamp(16px, 2.35vh, 40px);
  transition: all 0.3s ease-in-out;
  padding: 1.25vmin 5%;
  font-family: 'SourceSans3';
  font-weight: 400;
}

.loginForm input {
  border: 0.22vmin solid var(--color1);
  background-color: var(--color2);
  color: var(--text-color);
  outline: none;
}

.loginForm button{
  background-color: var(--text-color);
  color: var(--color2);
  border: 0;
}

.loginForm input:hover
/*, .loginForm input:focus*/{
  border: 0.22vmin solid var(--color-accent);
  color: var(--color-accent);
  box-shadow: 0 0 0.5vmin var(--color-accent);
}
.loginForm input:focus{
  color: var(--color-accent-shadow);
  caret-color: var(--color-accent);
}

.loginForm button:hover{
  transform: scale(1.03);
  background-color: var(--color-accent);
  font-size: clamp(16px, 2.37vh, 40px);
  box-shadow: 0 0 0.5vmin var(--color-accent);
}

.loginForm button.active-animation{
  transform: none;
  background-color: var(--color-accent);
  font-size: clamp(16px, 2.35vh, 40px);
  box-shadow: 0 0 0.5vmin var(--color-accent);
}
/*Error*/
.errorMessage{
  color: #f5332c;
  cursor: default;
  font-size: clamp(8px, 1.5vh, 15px);
}
footer{
  width: auto;
  position: absolute;
  bottom: 0;
  font-size: clamp(5px, 1.3vh, 13px);
  color: var(--text-color);
  cursor: default;
  -webkit-animation: fadeOldUp 1.7s ease-in-out forwards;
  animation: fadeUp 1.7s ease-in-out forwards;
}
/*Загрузка*/
.dots{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px; /* задає проміжки між кругами*/
  height: 16px;
  vertical-align: middle;
}
.dot{
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--fon-color);
  opacity: 0.2;
  animation: blink 1.4s infinite;
}
.dot:nth-child(2){
  animation-delay: 0.2s;
}
.dot:nth-child(3){
  animation-delay: 0.4s;
}

@media (orientation: portrait){
  .loginForm {
    width: 50vmin;
  }
  .loginForm button:hover{
    transform: none;
    background-color: var(--color-accent);
    font-size: clamp(16px, 2.35vh, 40px);
    box-shadow: 0 0 0.5vmin var(--color-accent);
  }
}

@-webkit-keyframes fadeOldUp {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeUp {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes blink{
  0%, 80%, 100%{
    opacity: 0.2;
  }
  40%{
    opacity: 1;
  }
}
@font-face{
  font-family: 'Aristotelica';
  src: url('fonts/AristotelicaSmallCaps-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'SourceSans3';
  src: url('fonts/SourceSans3-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
