/*Авторське право (c) серпень 2025 рік Сікан Іван Валерійович.*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    height: 100dvh;
}

.toggle-checkbox {
    display: none;
}

.Body {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    flex-direction: row;
}

.Menu {
    background-color: #151419;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease-in-out;
    flex-shrink: 0;
    
}

.button-container {
    width: 25%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 21%;
    transition: all 0.5s ease-in-out;
    -webkit-animation: fadeOldUp 2s ease-in-out forwards;
    animation: fadeUp 2s ease-in-out forwards; 
}

.button {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}

#button-schedule {
    background-image: url('image/schedule.svg');
}

#button-journal {
    background-image: url('image/journale.svg');
}

.button:hover {
    transform: scale(1.07);
}

.Schedule, .Journal {
    height: 100%;
    background-color: #fbfbfb;
    width: 0;
    display: flex;
    box-sizing: border-box;
    transition: width 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.Schedule {
    overflow-y: scroll;
}

.Journal {
    overflow: auto;
}

#toggle-schedule:checked ~ .Body .Menu, #toggle-journal:checked ~ .Body .Menu {
    width: 35%;
}

#toggle-schedule:checked ~ .Body .Schedule, #toggle-journal:checked ~ .Body .Journal {
    width: 65%;
    opacity: 1;
    visibility: visible;
}

/* Стилі для button-container при активації будь-якої кнопки */
.toggle-checkbox:checked ~ .Body .Menu .button-container {
    height: 35%;
    flex-direction: column;
    gap: 15%;
}
/* Медіа-запити для портретної орієнтації*/
@media (orientation: portrait) {
    .Body {
        flex-direction: column-reverse;
    }
    
    .Menu {
        transition: height 0.5s ease-in-out;
    }
    .button-container{
        width: 27%;
        height: 35%;
        flex-direction: column;
    }
    .Schedule, .Journal{
        height: 0;
        transition: height 0.5s ease-in-out;
    }

    #toggle-schedule:checked ~ .Body .Menu, #toggle-journal:checked ~ .Body .Menu {
        width: 100%;
        height: 35%;
    }
    
    #toggle-schedule:checked ~ .Body .Schedule, #toggle-journal:checked ~ .Body .Journal {
        width: 100%;
        height: 65%;
        opacity: 1;
        visibility: visible;
    }
    
    /* Стилі для button-container при активації будь-якої кнопки */
    .toggle-checkbox:checked ~ .Body .Menu .button-container {
        height: 35%;
        width: 55%;
        align-content: center;
        flex-direction: row;
        gap: 15%;
    }
}
@keyframes fadeUp {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes blink{
  0%, 80%, 100%{
    opacity: 0.2;
  }
  40%{
    opacity: 1;
  }
}
